.form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 12px;
  }
  
  .btn-primary {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .btn-primary:hover {
    background-color: darkblue;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  button:hover {
    background-color: #0069d9;
    color: #fff;
  }
  